.row {
  max-width: 114rem;
  margin: 0 auto;

  gap: 3rem;
}
.grid {
  &--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &--4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }
}
