.composition {
  position: relative;
  &__photo {
    width: 55%;
    position: absolute;
    transition: all 0.2s;
    box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.4);
    //dış kısımdaki borderla elementin içine boşluk koyar bunu border ile yapılamaz.
    outline-offset: 2rem;
    z-index: 10;
    &-1 {
      left: 0;
      top: -2rem;
    }
    &-2 {
      right: 0;
      top: 2rem;
    }
    &-3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 2rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
