.composition {
  position: relative;
  @include respond(tab-port) {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 7rem;
  }

  &__photo {
    width: 55%;
    position: absolute;
    transition: all 0.2s;
    box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.4);
    //dış kısımdaki borderla elementin içine boşluk koyar bunu border ile yapılamaz.
    outline-offset: 2rem;
    z-index: 10;
    &-1 {
      left: 0;
      top: -2rem;
      @include respond(tab-port) {
        top: 0rem;
        left: -5rem;
      }
    }
    &-2 {
      right: 0;
      top: 2rem;
      @include respond(tab-port) {
        top: 0rem;
        right: -5rem;
      }
    }
    &-3 {
      top: 10rem;
      left: 20%;
      @include respond(tab-port) {
        top: -1rem;
      }
    }

    &:hover {
      outline: 2rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
  &-text {
    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
  }
}
