.popup {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  transition: all 0.6s;
  backdrop-filter: blur(10px);

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $color-white;
    width: 75%;
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
  &__left {
    width: 100%;
    @include respond(tab-port) {
      padding-top: 2rem;
      display: flex;
      justify-content: space-around;
    }
  }
  &__img {
    width: 100%;
    display: block;
    @include respond(tab-port) {
      width: 40%;
    }
  }
  &__right {
    width: 100%;
  }
  &__close,
  &:link,
  &:visited {
    display: inline-block;
    color: $color-grey-dark;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    line-height: 1;
    transition: all 0.2s;
    &:hover {
      color: $color-primary;
    }
  }
  &__secondary {
    margin-left: 3rem;
    margin-top: 3rem;
  }
  &__tertiary {
    margin-left: 3rem;
  }
  &__text {
    column-count: 2;
    column-rule: 1px solid $color-grey-ligh-2;
    hyphens: auto;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  &__btn {
    margin-left: 3rem;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
