*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  //Thanks to the code below, we used box-sizing:border-box; property inside body element.
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  overflow-x: hidden;

  @include respond(tab-port) {
    padding: 0;
  }
}
html {
  font-size: 62.5%; //1rem = 10px
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px --> 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 10px --> 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px --> 12/16 = 75%
  }
}
